*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #080710,
        #00b327
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #00b327,
        #080710
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 630px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

a{
    font-size: 16px;
    font-weight: 500;
}
label{
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}
.field{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.passField{
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 15px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.check{
    margin-top: 10px;
    height:13px; 
    width:13px;
}
.checkSpan{
    display: inline;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* Popup container */
.popup {
    position: relative;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .hide {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
  }

/* make arrows disappear on password length
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media (max-width: 1000px) {
    .background{
        width: 80%;
        height: 55%;
    }

    form{
        width: 80%;
        height: 1155px;
    }

    h1{
        font-size: 70px;
    }

    a{
        font-size: 30px;
        font-weight: 500;
    }

    label{
        display: block;
        margin-top: 30px;
        font-size: 34px;
        font-weight: 500;
    }

    .field{
        display: block;
        height: 100px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 30px;
        font-weight: 300;
    }

    .passField{
        height: 100px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 26px 10px;
        margin-top: 8px;
        font-size: 30px;
        font-weight: 300;
    }

    .check{
        margin-top: 10px;
        height:30px; 
        width:30px;
    }

    .checkspan{
        margin-left: 8px;
        margin-top: 30px;
        font-size: 40px;
        font-weight: 500;
    }

    button{
        margin-top: 50px;
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 28px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }
}